<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanMart - Your Urban Shopping Destination</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="/">
                   <i class="fas fa-store"></i>
                    UrbanMart
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <% if (user) { %>
                    <li><a href="/cart">
                        <i class="fas fa-shopping-cart"></i> Cart
                    </a></li>
                    <li><a href="/orders/my-orders">My Orders</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fas fa-user"></i> <%= user.name %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register" class="btn-primary">Register</a></li>
                <% } %>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    <main>